@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
/* font-family: 'Nanum Gothic' ;  */

html,body{
    margin:0px;
}
ul,li{
    list-style-type: none;
}
a{
    color:#000;
    text-decoration: none;
}
span,em,strong,a{display: inline-block;}
*{
    margin:0;padding:0;
    font-family: 'Nanum Gothic' ; 
    font-size:16px;
    line-height: 27px;
    color:#000;
    font-weight: normal;
    box-sizing:border-box;    
}

em {
    font-style: normal;
}
.clearfix:after{
    content: '';
    clear: both;
    display: block;
}

img{
    font-size: 0;
    vertical-align: top;
    display: inline-block;
}

/********** header **********/

header {
    width: 100%;
    position: fixed; left: 0; top: 0;
    background:rgba(25,30,70,.8);
    z-index: 9999;
}
header::before {
    content: "";
    width: 100%; height:4vw;
    background: #fff;
    display: block;
    position:absolute;
}
header .header_box {
    width: 100%;    
    display: flex; justify-content: space-between; align-items:baseline;
    padding: 0 48px 0 94px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
header .header_box > a{
    transform:translateY(-30%);
}
header .header_box nav {
    height: 100%;
}
header .header_box nav:hover .header_2depth {
    display: block;
}
header .header_box nav .header_1depth {
    height: 100%;
    display: flex;
}
header .header_box nav .header_1depth > li {
    text-align: center;
}
header .header_box nav .header_1depth > li > a {
    width: 100%;
    color: #333;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 4vw;
    padding: 0 50px;
}

header .header_box nav .header_1depth > li > ul {
    display: none;
}
header .header_box nav:hover .header_1depth > li > ul {
    display: block;
}
.header_1depth > li > ul li a {
    font-size: 0.9375rem;
    color: #fff;
    line-height: 20px;
    margin: 25px 0;
    position: relative;
}
.header_1depth > li > ul li a::after {
    content: "";
    width: 0; height: 2px;
    background: #fff;
    display: block;
    transition: .5s;
    position: absolute; left: 50%; top: 110%;
}
.header_1depth > li > ul li a:hover::after {
    left: 0;
    width: 100%;
}
header .header_box .login {
    width: 261px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_box .login a {
    display: block;
    font-size: 0.875rem;
    color: #333;
}
header .header_box .login form {
    width: 151px; height: 27px;
    border: 2px solid #192346;
    display: flex; justify-content: space-between;
}
header .header_box .login input[type="text"] {
    width: 100%;
    border: none;
    margin-left: 5px;
    outline-style: none;
}
header .header_box .login form a {
    width: 25px;
    height: 23px;
    background: #192346;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** footer **********/

footer{width: 100%;}
footer .foot01{
    width: 100%;
    background: #344066;   
}
footer .foot01 .flexbox {
    width: 67%;
    margin: 0 auto;
    display: flex; justify-content: space-between;
}
footer .foot01 ul{
    position: relative;
}
footer .foot01 ul li{
    float: left;
    margin-right: 30px;
}
footer .foot01 ul li a{
    color: rgba(255,255,255,0.6);
    line-height: 50px;
}
footer .foot01 ul li:hover a{
    color: rgba(255,255,255, 0.8);
    line-height: 50px;
    font-weight: bolder;
}
footer .foot01 .flexbox .dropdown{
    position: relative;
}
footer .foot01 .flexbox .dropdown > a{
    color: #fff;
    line-height: 50px;
}

footer .foot01 .flexbox .dropdown > a em{
    width: 20px; height: 20px;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
    margin: -3px 0 3px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown > a em i{
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown .pop{
    width: 177px; height: 237px;
    background: #fff;
    border:1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0; left: -5px;
    display: none;
    transition: .5s;
}
footer .foot01 .flexbox .dropdown .pop a{
    font-weight: bold;
    padding-left: 5px;
    line-height: 30px;
    color: #666;
    border-bottom: 1px solid rgba(0,0,0,0.3)
}
footer .foot01 .flexbox .dropdown .pop a:last-child{
    color: #666;
    line-height: 50px;
    border-bottom: none;
}
footer .foot01 .flexbox .dropdown .pop a em{
    width: 20px; height: 20px;
    background: #333;
    border-radius: 100%;
    vertical-align: middle;
    margin: -3px 0 3px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown .pop a em i{
    color:#fff;
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown:hover .pop{
    display: flex;
}

footer .foot02{
    width: 100%;;
    background: #415185;
    padding: 38px 0;
}
footer .foot02 .flexbox{
    display: flex;
    flex-direction: column;
}
footer .foot02 .flexbox p{
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    text-align: center;
}

@media (max-width:1024px){}

@media (max-width:768px){}

@media (min-width:480px){
    *{
        font-size: 10px;
    }
    header{display: none;}
    footer{display: none;}
}
