@import url('common.css');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
/* font-family: 'NanumSquare', sans-serif; */

.clearfix:after{
    content: '';
    clear: both;
    display: block;
}
header{
    width: 100%;
    height: 110px;
    position: fixed;
    background: #fff;
    top: 0; left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-bottom: 1px solid #333;
}
.flexbox{
    width: 1275px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .top h1{
    margin-left: 14px;
    padding-top: 25px;
}
header .top nav{
    width: 640px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
header .top nav a{
    font-size:22px;
    font-weight: bold;
    line-height: 110px;
    letter-spacing: 0.01em;
}
header .top .login{
    width: 186px;
    display: flex;
    justify-content: space-between;
}
header .top .login a{
    font-size: 16px;
    line-height: 110px;
}
header .depth{
    width: 100%;
    height: 0px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 110px;
    z-index: 3;
    display: none;
}
header:hover .depth{
    display: block;
    height: 171px;
    transition: all .3s;
}

header .depth .depthMenu{
    width: 632px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
header .depth ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .depth .depthMenu ul:nth-child(2){
    padding-left: 35px;
}
header .depth .depthMenu ul:nth-child(3){
    padding-left: 30px;
}
header .depth .depthMenu ul li a{
    font-weight: bold;
    font-size: 16px;
    line-height: 57px;
    color: rgba(0,0,0,0);
    position: relative;
}
header:hover .depth .depthMenu ul li a{
    color: #333;
    transition: .5s;
}
header .depth .depthMenu ul li a:after{
    content:'';
    border-bottom: 2px solid #666;
    width: 0%;
    position: absolute;
    top: 70%; left: 50%;
    transition: .5s;
}
header .depth .depthMenu ul li a:hover:after{
    width: 100%;
    left: 0;
}

/* header */

section{
    width: 100%;
}
section .visual{
    margin: 0 auto;
    height: 851px;
    /* background: url(../img/background.jpg) no-repeat center 57% / cover; */
    padding-top: 306px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
section .visual .fullscreen-bg__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw; 100 * 9 / 16 */
    z-index: -1;
}
section .visual h2{
    font-size: 60px;
    font-weight: bolder;
    line-height: 60px;
    color: #fff;
}
section .visual p{
    font-size: 26px;
    color: #fff;
    padding-top: 30px;
}
section .visual .search{
    width: 868px;
    height: 73px;
    padding-top: 63px;
    background:#fff;
    position: relative;
    margin: 63px auto 0;
}
section .visual .search input{
    width: 780px;
    height: 73px;
    position: absolute;
    left:30px; top: 0;
    outline: none;
    outline-style: none;
    border: none;
    font-size: 22px;
}
section .visual .search input::placeholder{
    font-size: 22px;
}
section .visual .search .fa-search{
    position: absolute;
    top: 25px; right: 30px;
    font-size: 24px;
    color: rgba(0,0,0,0.3);
}

section .visual .tagbox ul{
    width: 440px;
    margin: 13px auto 0;
    display: flex;
    justify-content: space-around;
}
section .visual .tagbox li{
    background: rgba(255,255,255,0.8);
    margin-left: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
}
section .visual .tagbox li:hover{
    background: rgba(255,255,255,1);
}
section .visual .tagbox li a{
    margin: 0 5px;
}
section .visual .tagbox li a:before{
    content: '#';
    font-size: 15px;
    font-weight: bold;
}

/* visual */

section .main{
    width: 100%;
    height: 451px;
    background: #eee;
    margin: 0 auto;
}
section .board{
    width: 1275px; height: 451px;
    background: #fff;
    position: relative;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
}
section .board nav{
    display: flex;
    justify-content: flex-start;
    background: #354067;
}
section .board nav a{
    display: block;
    line-height: 72px;
    font-size: 24px;
    font-weight: bold;
    background: #354067;
    width: 270px;
    text-align: center;
    color:rgba(255,255,255,0.8);
}
section .board nav a:hover{
    color:rgba(255,255,255,1);
}
section .board nav a.selected{
    background: #fff;
    color:#354067;
}


section .boardContent{
    padding-top: 53px;
    display: flex;
}
section .boardContent .leftbox{
    border-right: 1px solid #aaa;
    display: flex;
}
section .boardContent .leftbox a{
    padding: 0 23px;
}
section .boardContent .leftbox a img{
    border: 1px solid #ccc;
}
section .boardContent .leftbox .text{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .boardContent .leftbox .text h2{
    font-size: 22px;
    font-weight: bolder;
}
section .boardContent .leftbox .text p{
    font-size: 18px;
}
p.date{
    color: #666;
}

section .boardContent .rightbox{
    margin: 0 26px;
    position: relative;
}
section .boardContent .rightbox > a{
    position: absolute;
    right: 0; top: 0;
    font-weight: bold;
}
section .boardContent .rightbox ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}
section .boardContent .rightbox ul li{
    width: 496px;
    display: flex;
    justify-content: space-between;
}
section .boardContent .rightbox ul li a{
    width: 345px;
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
}
section .boardContent .rightbox ul li:hover a{
    opacity:1;
}
section .boardContent .rightbox ul li p{
    line-height: 46px;
}

/* boardcontent */

 .mainContent{
    width: 1275px;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}
.mainContent .leftbox ul{
    width: 404px;
    display: flex;
    flex-wrap:wrap;
}
.mainContent .leftbox ul li{
    width: 132px; height: 132px;
    border: 1px solid #ccc;
    background: #fff;
    margin-right: 4px;
    box-sizing: border-box;
    margin-bottom:4px;
    transition: background .5s;
}
.mainContent .leftbox ul li:nth-of-type(3n){
    margin-right: 0;
}
.mainContent .leftbox ul li a{
    width: 132px; height: 132px;
    padding: 22px 9px;
    position: relative;
}
.mainContent .leftbox ul li a p{
    font-size: 18px;
    font-weight: bold;
}
.mainContent .leftbox ul li a img:nth-of-type(1){
    position: absolute;
    right: 22px; bottom: 9px;
    visibility: visible;
}
.mainContent .leftbox ul li a img:nth-of-type(2){
    position: absolute;
    right: 22px; bottom: 9px;
    visibility: hidden;
}
.mainContent .leftbox > a {
    width: 404px; height: 78px;
    background: #344066;
    color:#fff;
    text-align: center;
    line-height: 78px;
    opacity: 1;
}
.mainContent .leftbox ul li:hover{
    background:rgba(0,0,0,0.6);
}
.mainContent .leftbox ul li:hover a p{
    color: #fff;
}
.mainContent .leftbox ul li:hover img:nth-of-type(1){
    visibility: hidden;
}
.mainContent .leftbox ul li:hover img:nth-of-type(2){
    visibility: visible;
}
.mainContent .leftbox > a:hover{
    opacity: .9;
}

.mainContent .rightbox ul{
    width: 810px;
    height: 352px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.mainContent .rightbox ul li{
    margin-right:20px ;
    position: relative;
    animation: slide 15s linear infinite;
}
.mainContent .rightbox ul li:after{
    content: '';
    width: 100%; height: 100%;
    background: rgba(0,0,0,0);
    position: absolute;
    z-index: 2;
    top: 0; left: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover:after{
    background: rgba(0,0,0,0.6);
}
.mainContent .rightbox ul li p{
    width: 90%;
    position: absolute;
    z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -80%);
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover p{
    opacity: 1;
}
.mainContent .rightbox ul li a{
    width: 50%;
    position: absolute;
    z-index: 3;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255,255,255,0.6);
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover a{
    opacity: 1;
}

@keyframes slide{
    0%{left: 0;}
    100%{left: -135%;}
}

/* maincontent */

.banner{
    width: 1250px;
    margin: 20px auto;
}
.banner ul{
    display: flex;
    justify-content: space-between;
}
.banner ul li a img{
    transform: scale(1) ;
    transition: .5s;
}
.banner ul li:hover a img{
    transform: scale(1.1) 
}


/* banner */

footer{width: 100%;}
footer .foot01{
    width: 100%;
    background: #344066;   
}
footer .foot01 ul{
    position: relative;
}
footer .foot01 ul li{
    float: left;
    margin-right: 30px;
}
footer .foot01 ul li a{
    color: rgba(255,255,255,0.6);
    line-height: 50px;
}
footer .foot01 ul li:hover a{
    color: rgba(255,255,255, 0.8);
    line-height: 50px;
    font-weight: bolder;
}
footer .foot01 .flexbox .dropdown{
    position: relative;
}
footer .foot01 .flexbox .dropdown > a{
    color: #fff;
    line-height: 50px;
}

footer .foot01 .flexbox .dropdown > a em{
    width: 20px; height: 20px;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
    margin: -3px 0 3px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown > a em i{
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown .pop{
    width: 177px; height: 237px;
    background: #fff;
    border:1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0; left: -5px;
    display: none;
    transition: .5s;
}
footer .foot01 .flexbox .dropdown .pop a{
    font-weight: bold;
    padding-left: 5px;
    line-height: 30px;
    color: #666;
    border-bottom: 1px solid rgba(0,0,0,0.3)
}
footer .foot01 .flexbox .dropdown .pop a:last-child{
    color: #666;
    line-height: 50px;
    border-bottom: none;
}
footer .foot01 .flexbox .dropdown .pop a em{
    width: 20px; height: 20px;
    background: #333;
    border-radius: 100%;
    vertical-align: middle;
    margin: -3px 0 3px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown .pop a em i{
    color:#fff;
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown:hover .pop{
    display: flex;
}

footer .foot02{
    width: 100%;;
    background: #415185;
    padding: 38px 0;
}
footer .foot02 .flexbox{
    display: flex;
    flex-direction: column;
}
footer .foot02 .flexbox p{
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    text-align: center;
}

/* footer */

section .top{
    width: 100%; height: 410px;
    position: relative;
}
section .sub5_1{
    background: url(../img/top5_1.jpg) no-repeat center/ cover;
}
section .top:after{
    content: '';
    width: 100%; height: 410px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
section .top h2{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    position: absolute;
    top: 65%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
section .sub5_1content{
    width: 100%;
    padding-top: 140px;
}
section .sub5_1content .tap{
    width: 1275px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid #666;
}
section .sub5_1content .tap a{
    width: 100%;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    border-right: 1px solid #666;
    text-align: center;
    transition: .5s;
}
section .sub5_1content .tap a:last-child{
    width: 100%;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    border-right: none;
}
section .sub5_1content .tap a:first-child{
    background: #354067;
    color: #fff;
    font-weight: bolder;
}
section .sub5_1content .tap a:hover{
    background: #354067;
    color: #fff;
    font-weight: bolder;
}

section .sub5_1content .content{
    width: 1275px; height: 412px;
    margin: 70px auto 140px;
}
section .sub5_1content .content > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .sub5_1content .content > ul > li{
    display: flex;
    margin-bottom:8px;
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
section .sub5_1content .content > ul > li > a{
    width: 319px;
    background: #e5e5e5;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid rgba(0,0,0,0.3);
}
section .sub5_1content .content > ul > li > ul{
    width: 956px;
    display: flex;
    justify-content: flex-start;
    background: #eeeeee;
}
section .sub5_1content .content > ul > li > ul li a{
    font-size: 20px;
    margin-left: 70px;
    line-height: 100px;
    font-weight: bold;
}
section .sub5_1content .contact{
    width: 1275px;
    margin: 0 auto 87px;
    background: #354067;
    border-radius: 10px;
}
section .sub5_1content .contact ul{
    display: flex;
    justify-content: space-around;
}
section .sub5_1content .contact ul li{
    color:#fff;
    line-height: 40px;
}

/* sub5_1 */


section .sub5_2{
    background: url(../img/top5_2.jpg) no-repeat center/ cover;
}
section .sub5_2content{
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}
section .title{
    width: 1275px;
    margin:55px auto 48px;
}
section h3{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
section .sub5_2content .location{
    width: 1275px;
    margin: 0 auto;
    border-bottom: 1px solid #344066;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
section .sub5_2content .location a{
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
section .sub5_2content .location a:after{
    content: '';
    width: 0; height: 2px;
    background: #344066;
    position: absolute;
    top:90%; left: 50%;
    transition: .5s;
}
section .sub5_2content .location a:hover:after{
    width: 100%;
    left: 0;
}
section .sub5_2content .tap{
    width: 1275px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid #666;
}
section .sub5_2content .tap a{
    width: 100%;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    border-right: 1px solid #666;
    text-align: center;
    transition: .5s;
}
section .sub5_2content .tap a:last-child{
    width: 100%;
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    border-right: none;
}
section .sub5_2content .tap a:first-child{
    background: #354067;
    color: #fff;
    font-weight: bolder;
}
section .sub5_2content .tap a:hover{
    background: #354067;
    color: #fff;
    font-weight: bolder;
}

section .sub5_2content #map{
    width: 1275px; height: 444px;
    margin: 70px auto 0;
    background: #eee;
}
section .sub5_2content .contact{
    width: 1275px;
    margin: 0 auto;
    background: #354067;
}
section .sub5_2content .contact ul{
    display: flex;
    justify-content: flex-start;
}
section .sub5_2content .contact ul li{
    color:#fff;
    line-height: 40px;
    padding: 20px 0 20px 40px;
}
section .way{
    width: 1275px;
    margin:55px auto 48px;
}
section .way h4{
    margin:50px 0 20px 70px;
    font-weight: bold;
    font-size: 20px;
}
section .way p{
    margin-left: 70px;
    font-weight: bold;
    font-size: 17px;
}
section .way table{
    border: 1px solid #333;
    margin: 20px 0 20px 70px;
    text-align: center;
    border-collapse: collapse;
}
section .way table thead th{
    background:#eee;
}
section .way table th{
    border: 1px solid #333;
    padding:5px 10px;
    font-weight: bold;
}
section .way table td{
    border: 1px solid #333;
    padding:5px 10px;
    font-weight: bold;
}
section .way table thead th:nth-of-type(-n+6){
    border: 1px solid #333;
    padding:5px 70px;
    font-weight: bold;
}
section .way table thead th:nth-of-type(2):nth-of-type(5){
    border: 1px solid #333;
    padding:5px 10px;
    font-weight: bold;
}

/* sub5_2 */

section .logjoin{
    width: 1275px;
    margin: 0 auto;
    display: flex;
}
section .leftboxlog{
    width: 50%;
    height: 900px;
}
section .leftboxlog .titleLogin{
    width: 100%;
    margin:255px auto 48px;
}
section .leftboxlog .titleLogin p{
    margin:20px 0 0 20px;
    font-size: 18px;
    font-weight: bold;
}
section .leftboxlog .login{
    height: 113px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .leftboxlog .login input:nth-of-type(1){
    width: 380px;
    height: 45px;
    outline: none;
    outline-style: none;
    border: 3px solid #344066;
    font-size: 22px;
    border-radius: 10px;
    padding-left: 10px;
}
section .leftboxlog .login input:nth-of-type(2){
    width: 380px;
    height: 45px;
    outline: none;
    outline-style: none;
    border: 3px solid #344066;
    font-size: 22px;
    border-radius: 10px;
    padding-left: 10px
}
section .leftboxlog .login input:nth-of-type(3){
    width: 160px;
    height: 113px;
    position: absolute;
    left:400px; top: 0px;
    border: none;
    background: #344066;
    border-radius: 10px;
    color: #fff;
    padding-left: 0;
}
section .leftboxlog .login input::placeholder{
    font-size: 22px;
}
section .leftboxlog .idSave{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom:44px;
}
section .leftboxlog .idSave input{
    width: 19px; height: 19px;
    margin-left: 5px;
}
section .leftboxlog .idSave p{
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
section .leftboxlog p{
    margin-left: 5px;
    line-height: 43px;
    font-size: 18px;
    font-weight: bold;
}

section .rightboxlog{
    width: 50%;
}
section .rightboxlog .titleLogin p{
    margin:20px 0 0 20px;
    font-size: 18px;
    font-weight: bold;
}
section .rightboxlog .titleLogin{
    width: 100%;
    margin:255px auto 48px;
}
section .rightboxlog .join{
    width: 488px; height: 388px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
}

section .rightboxlog .join a{
    width: 488px; height: 92px;
    background: #344066;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 72px;
    font-size: 26px;
    position: relative;
}
section .rightboxlog .join a:nth-of-type(1):after{
    content: '만 14세 이상 내국인';
    font-size:18px;
    position: absolute;
    top: 60%; left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
}
section .rightboxlog .join a:nth-of-type(2):after{
    content: '만 14세 미만 내국인';
    font-size:18px;
    position: absolute;
    top: 60%; left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
}
section .rightboxlog .join a:nth-of-type(3):after{
    content: '한국에 계신 외국인';
    font-size:18px;
    position: absolute;
    top: 60%; left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
}
section .rightboxlog .join a:nth-of-type(4):after{
    content: '사업자 및 공식단체';
    font-size:18px;
    position: absolute;
    top: 60%; left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    display:none;
}


@media (max-width:1919px){

}

@media (max-width:1024px){
    
}

@media (max-width:768px){
    
}

@media (max-width:480px){
    /* 360~410 */
   
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
}